/* Adjustes */
main,
.md3,
header,
.progress-bar-fill,
#vidas,
.btn-purple,
.wrong,
.right {
  transition: 1000ms;
}

body {
  max-height: 100vh;
}

/* Header */
header {
  padding: 1.5vh 10%;
  border: none;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hd1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: unset;
  border: none;
  padding: 0;
}

.progress-bar {
  width: 80%;
  height: 2vh;
  background-color: var(--light-gray);
  border-radius: 15px;
  overflow: hidden;
}
.progress-bar-fill {
  height: 100%;
  width: 2%;
  margin: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--hard-purple);
}

.lifes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lifes img {
  height: 4vh;
  width: auto;
}
.lifes span {
  font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
  font-weight: bold;
  color: #fc6886;
}

/* Main */
.md1,
.md2,
.md3,
.boxenun,
.boxresp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md1 {
  height: 10%;
  align-items: flex-end;
  margin-inline: auto;
  max-width: 80vw;
}
.md1 h3 {
  font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.md2 {
  height: 80%;
  flex-direction: column;
}

.boxenun,
.boxresp {
  max-width: 70vw;
}

.boxenun {
  height: 40%;
}
.boxenun img {
  height: 90%;
  max-width: 30vw;
  max-height: 30vw;
  user-select: none;
}
.boxenun h3 {
  border: 2px solid var(--light-gray);
  margin: 0;
  border-radius: 6vh;
  padding: 1vh 2vh;
  text-align: center;
  font-weight: 500;
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
  overflow-y: scroll;
  scrollbar-width: none;
  user-select: none;
}

.boxresp {
  height: 40%;
  width: 50%;
  flex-direction: column;
}

.external-area,
.internal-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 15vh;
  gap: 1vw;
}
.internal-area {
  border-bottom: 2px solid var(--hard-gray);
  padding-bottom: 1vh;
}
.external-area {
  padding-top: 1vh;
}

.card-game {
  min-width: 5vw;
  min-height: 5vw;
  width: 13vh;
  height: 13vh;
  border: 2px solid var(--light-gray);
  border-radius: 25%;
  font-size: clamp(0.75rem, -0.1875rem + 3vw, 1.5rem);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-game:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
  cursor: pointer;
  border-color: #000;
}
.card-game img {
  width: 100%;
  height: auto;
}

.md3 {
  height: 10%;
}
.btn-purple,
.wrong,
.right {
  width: fit-content;
  border-radius: 6vh;
  padding: 1vh 8vw;
}

/* Media Query para Celulares/Paisagem até Laptops */
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .lifes img {
    height: 3.5vw;
  }
  .progress-bar {
    width: 65%;
  }
  .progress-bar-fill {
    width: 10%;
  }
  .md2 {
    gap: 2vh;
  }
  .boxenun,
  .boxresp {
    max-width: 90vw;
  }
  .boxenun {
    flex-direction: column;
    height: auto;
  }
  .boxenun h3 {
    border: none;
  }
  .boxresp {
    height: auto;
    width: 80vw;
  }
  .card-game:hover {
    border-color: var(--light-gray);
    transform: scale(1);
  }
}

/* Media Query para NestHub */
@media screen and (orientation: landscape) and (max-width: 1024px) {
  .md2 {
    height: 70%;
  }
  .md3 {
    height: 20%;
  }
  .boxenun {
    max-width: 70vw;
  }
  .boxenun {
    height: 50%;
  }
  .boxresp {
    width: 80vw;
  }
  .card-game {
    width: 10vw;
    height: 10vw;
  }
}

/* Media Query para Celulares/Retrato */
@media screen and (pointer: none),
  (pointer: coarse) and (orientation: portrait) and (max-width: 768px) {
  .progress-bar {
    height: 1.5vh;
  }
  .external-area,
  .internal-area {
    min-height: 12vh;
  }
  .internal-area {
    padding-bottom: 1vw;
  }
  .external-area {
    padding-top: 1vw;
  }
  .card-game {
    max-width: 20vw;
    max-height: 20vw;
  }
}
