div a {
  text-decoration: none;
  color: inherit;
}

form {
  height: 100%;
  margin: 2vh auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 80vw;
  max-width: 490px;
}

form h2 {
  font-weight: 900;
  font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
  margin-block: 1vh;
}
form h3 {
  font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1rem);
  color: var(--text-black);
}
form a {
  color: var(--hard-purple);
}
form a:hover {
  color: var(--dark-purple);
  transition: all 0.36s;
}

form input {
  border-radius: 20px;
  border: 3px solid var(--light-gray);
  font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
  padding: 2px 25px;
  width: 100%;
  text-overflow: ellipsis;
}

form input::placeholder {
  color: #797979;
  font-weight: 700;
  font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
}

form input:focus {
  border-color: #101010;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.btn-purple {
  padding-block: 6px;
}
